<h1>Add item</h1>

<form action="/item/add" method="POST" enctype="multipart/form-data">
  <div>
    <label class="form-label">category</label>
    <select name="category" class="form-control">
      <% categories.forEach(function(category){ %>

      <option value="<%= category._id %>"><%=category.name %></option>

      <% }) %>
    </select>
  </div>

  <div>
    <label class="form-label">name</label>
    <input type="text" name="name" class="form-control" />
  </div>

  <div>
    <label class="form-label">price</label>
    <input type="number" name="Price" class="form-control" />
  </div>

  <div>
    <label class="form-label">quantity</label>
    <input type="text" name="qty" class="form-control" />
  </div>

  <input
    type="hidden"
    name="userId"
    class="form-control"
    value="<%= user._id%>"
  />
  <div>
    <label class="form-label">description</label>
    <input type="text" name="description" class="form-control" />
  </div>

  <div>
    <label class="form-label">Image</label>
    <input
      class="form-control"
      name="images"
      type="file"
      accept="image/*"
      multiple
    />
  </div>

  <input type="hidden" name="status" value="available" class="form-control" />

  <button type="submit" class="btn btn-primary">
    Add <i class="fa-solid fa-circle-plus"></i>
  </button>
</form>
