<h2 class="form-header">Add category</h2>

<form action="/category/add" method="POST"  enctype="multipart/form-data">
  <div>
    <label class="form-label">name</label>
    <input
      type="text"
      name="name"
      placeholder="Enter category"
      class="form-control mb-3"
    />
  </div>

  <div>
    <label class="form-label">Image</label>
    <input
      class="form-control"
      name="images"
      type="file"
      accept="image/*"
    />
  </div>

  
  <div class="d-grid"></div>
    <button type="submit" class="btn btn-primary btn-sm ">
      <i class="fa-solid fa-circle-check"></i>
    </button>
  </div>
</form>
