<h2 class="form-header">Add category</h2>

<form action="/category/add" method="POST">
  <div>
    <label class="form-label">name</label>
    <input
      type="text"
      name="name"
      placeholder="Enter category"
      class="form-control mb-3"
    />
  </div>

  
  <div class="d-grid"></div>
    <button type="submit" class="btn btn-primary btn-sm ">
      Add category
    </button>
  </div>
</form>
