<h2>Update category</h2>

<form action="/category/update" method="POST" enctype="multipart/form-data">
  <div>
    <label class="form-label">name</label>
    <input
      type="text"
      name="name"
      placeholder="Enter category"
      class="form-control mb-3"
      value="<%= category.name %>"
    />
  </div>


  

  
  <div class="d-grid"></div>
    <button type="submit" class="btn btn-primary btn-sm">
      Update <i class="fa-solid fa-circle-check"></i>
    </button>
  </div>

  <input type="hidden" name="id" value="<%= category._id %>">
</form>
