<h1>categories</h1>

<% categories.forEach(function(category){ %>

<div>
  <h3>
    <a href="/category/details?id=<%= category._id %>"><%= category.name %></a>
  </h3>
  <a href="/category/edit?id=<%= category._id %>">edit</a>
  <a href="/category/delete?id=<%= category._id %>">delete</a>
</div>

<% }) %>
