<h5>Edit Your Information</h5>

<form method="POST" action="/user/edit">
  <div>
    <label for=""></label>
    <input name="firstName" type="text" value="<%= user.firstName%>" />
  </div>
  <div>
    <label for=""></label>
    <input name="lastName" type="text" value="<%= user.lastName%>" />
  </div>
  <div>
    <label for=""></label>
    <input name="phone" type="text" value="<%= user.phone%>" />
  </div>
  <input name="id" type="" value="<%= user._id%>" />
  <div>
    <input type="submit" value="submit" />
  </div>
</form>
