<h5>Edit Your Information</h5>
<div class="card2">
  <br />
  <form method="POST" action="/user/edit" enctype="multipart/form-data">
    <div>
      <label class="form-label" for="">First Name</label>
      <input
        class="form-control"
        name="firstName"
        type="text"
        value="<%= user.firstName%>"
      />
    </div>
    <div>
      <label class="form-label" for="">Last Name</label>
      <input
        class="form-control"
        name="lastName"
        type="text"
        value="<%= user.lastName%>"
      />
    </div>
    <div>
      <label class="form-label" for="">Phone</label>
      <input
        class="form-control"
        name="phone"
        type="text"
        value="<%= user.phone%>"
      />
    </div>
    <div>
      <label class="form-label" for="">Image</label>
      <input class="form-control" name="avatar" type="file" accept="image/*" />
    </div>
    <input
      class="form-control"
      name="id"
      type="hidden"
      value="<%= user._id%>"
    />
    <br />
    <div>
      <input type="submit" class="btn btn-primary" value="submit" />
    </div>
  </form>
</div>
