<table
  style="border: 1px solid black; border-collapse: collapse; font-size: 30px"
>
  <% users.forEach((user, id)=>{%>
  <tr style="border: 1px solid black">
    <td style="border: 1px solid black"><%=user.firstName%></td>
    <td style="border: 1px solid black"><%=user.type%></td>
    <td>
      <a href="useredit?id=<%=user._id%>"><%=user._id%></a>
    </td>
  </tr>
  <%})%>
</table>
