<div class="search-container">
    <form action="/search/index" method="GET">
        <input type="text" name="query" placeholder="Search for items..." class="form-control" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<div class="items-container">
    <% if (items.length > 0) { %>
    <ul>
    <% items.forEach(function(item) { %>
        <li>
            <h3><%= item.name %></h3>
            <p><%= item.Price %></p>
            <form action="/cart/addToCart" method="POST" style="display: inline">
                <input type="text" name="id" value="<%= item._id %>" />
                <button type="submit"><i class="fa-solid fa-cart-plus"></i></button>
            </form>
        </li>
    <% }); %>
    </ul>
    <% } else { %>
        <p><%= message %></p>
    <%} %>
</div>