<h1>Cart</h1>

<form action="/cart/add" method="POST">
<input type="hidden" name="itemId" value="<%= itemId %>">
<div>
    <label>Quantity</label>
    <input type="number" name="qty">
</div>

    <button type="submit">Add to Cart</button>
</form>