<!-- <div></div>
  <div>
    <img />
  </div>
  <h3>Item Title</h3>
  <br />
  <h5>Dscription</h5>
  <br />
  <h5>Qty</h5>
  <br />
  <button>Edit</button>
  <button type="submit" action="/views/items">Add items</button>
</div>
<div>
  <div>
    <img />
  </div>
  <h3>Item Title</h3>
  <br />
  <h5>Dscription</h5>
  <br />
  <h5>Qty</h5>
  <br />
  <button>Edit</button>
</div>
//index  -->
